
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/sub_layout">
<head>
    <title>Login</title>
    <link rel="stylesheet" href=" css/login.css">

</head>
<body onload="modal1()">
<!-- Start your project here-->
<div class="content" layout:fragment="content">
    <div class="pop-up row  t-20  ">
        <div class="close " style="background-image:url('img/close.png')"></div>
        <div class="frm  col-md-6 col-xl-6 col-lg-6 col-sm-12 " >
            <form action="/action_page.php">
                <div class="text-center ">
                    <img class="img" src="img/lumhat-black.png">
                </div>
                <div class="text-center">
                    <a class="btn" th:href="@{/facebook/signin}"><i class="fa fa-facebook" style=" font-weight: bold; font-size: 25px"> </i> ចុចទីនេះដើម្បីចូលប្រើប្រាស់ដោយគណនី Facebook</a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- End your project here-->
<th:block layout:fragment="script">
    <!--import your script here-->
    <script>

        $('body').on('click','.close',function(){
            $(this).parents('.pop-up').remove();
        });

        $('body').on('click','.pop-up',function(e){
            if(e.target != this) return;
            // $(this).remove();
        });
    </script>

</th:block>

</body>
</html>
