<nav th:fragment="footer">

    <div id="loading">
        <img id="loading-image" src="/picture/loading.gif" alt="Loading..." />
    </div>


<img class="footer-img" src="/img/img_footer.png" width="100%" alt="">

<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4" id="footer-blog">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Footer links -->
        <div class="row text-center text-md-left mt-3">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-4 col-xl-4 mx-auto">
                <!--<h6 class="text-uppercase mb-4 font-weight-bold">Company name</h6>-->
                <img src="/img/logo/lumhat-white.png" height="55px" width="100px" class="img-foot-logo" alt="">
                <div class=" pt-1">
                    <p th:text="#{website-lumhat-footer-detail}" class="lumhat-text"></p>
                </div>
            </div>
            <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none">
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase foot-content  font-weight-bold"><span th:text="#{categories}"></span></h6>
                <div class="mt-4 pt-2">
                    <p class="lumhat-text-p">
                        <a th:href="@{/category?major_id=1}"><span th:text="#{information-tectnology}"></span></a>
                    </p>
                    <p class="lumhat-text-p">
                        <a th:href="@{/category?major_id=2}"><span th:text="#{english-langugage}"></span></a>
                    </p>
                    <p class="lumhat-text-p">
                        <a th:href="@{/category?major_id=3}"><span th:text="#{korean-language}"></span></a>
                    </p>

                </div>

            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold foot-content"><span th:text="#{contact}"></span></h6>
                <div class="mt-4  pt-1">
                    <p class="lumhat-text-p">
                        <i class="fa fa-home mr-3"></i> <span th:text="#{contact-address}"></span></p>
                    <p class="lumhat-text-p">
                        <i class="fa fa-envelope mr-3"></i> lumhat@info.com</p>
                    <p class="lumhat-text-p">
                        <i class="fa fa-phone mr-3"></i> (855)23 991 314</p>
                </div>
            </div>
            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">

            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 ">
                <h6 class="text-uppercase mb-4 font-weight-bold foot-content"><span th:text="#{search}"></span></h6>
                <div class="mt-4 pt-1">
                    <iframe width="100px" height="1%" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" title="fb:like_box Facebook Social Plugin" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fweb.facebook.com%2Flumhatonline%2F&tabs=timeline&width=250&height=150&small_header=true&adapt_container_width=false&hide_cover=false&show_facepile=true&appId=892019850988433" style="border: none; visibility: visible; width: 100%;" class="facebook-blog">
                    </iframe>
                </div>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Footer links -->
        <hr>
        <!-- Grid row -->
        <div class="row d-flex align-items-center">
            <!-- Grid column -->
            <div class="col-md-7 col-lg-8">
                <!--Copyright-->
                <p class="text-center text-md-left">© 2018 <span th:text="#{copyright}"></span>:
                    <a href="#">
                        <strong> LUMHAT</strong>
                    </a>
                </p>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 ml-lg-0">
                <!-- Social buttons -->
                <div class="text-center text-md-right">
                   
                </div>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Footer Links -->
    <div id="stop" class="scrollTop">
        <a href="#"><img src="/picture/scrollToTop.png"></a>
    </div>
</footer>
<!-- Footer -->
</nav>