<footer class="main-footer" th:fragment="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <p>Lumhat &copy; 2017-2019</p>
            </div>
            <div class="col-sm-6 text-right">
                <p>Design by
                    <a href="http://lumhat.khmeracademy.org" class="external">LUMHAT</a>
                </p>
            </div>
        </div>
    </div>
</footer>
