<!-- Side Navbar -->
<nav class="side-navbar" th:fragment="side-navbar">
    <div class="side-navbar-wrapper">
        <!-- Sidebar Header    -->
        <div class="sidenav-header d-flex align-items-center justify-content-center">
            <!-- User Info-->
            <div class="sidenav-header-inner text-center">
                <img th:src="${user.imageUrl}" alt="Pic" class="img-fluid rounded-circle">
                <h2 class="h5" th:text="${user.firstName+' '+user.lastName}">Admin name</h2>
                <span>Online</span>
            </div>
            <!-- Small Brand information, appears on minimized sidebar-->
            <div class="sidenav-header-logo">
                <a href="/index" class="brand-small text-center">
                    <strong>L</strong>
                    <strong class="text-primary">H</strong>
                </a>
            </div>
        </div>
        <!-- Sidebar Navigation Menus-->
        <div class="main-menu">
            <h5 class="sidenav-heading">MENU</h5>
            <ul id="side-main-menu" class="side-menu list-unstyled">
                <li>
                    <a href="/admin">
                        <i class="icon-home active"></i>Dashboard</a>
                </li>
                <li>
                    <a href="/admin/major">
                        <i class="icon-form"></i>Major </a>
                </li>
                <li>
                    <a href="/admin/quiz">
                        <i class="icon-page"></i>Quiz </a>
                </li>
                <li>
                    <a href="/admin/userManagement">
                        <i class="icon-user"></i>Users </a>
                </li>
            </ul>
        </div>

    </div>
</nav>
<!-- Main navigation -->
<header class="header" th:fragment="header">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-holder d-flex align-items-center justify-content-between">
                <div class="navbar-header">
                    <a id="toggle-btn" href="#" class="menu-btn">
                        <i class="icon-bars"> </i>
                    </a>
                    <a href="/index" class="navbar-brand">
                        <div class="brand-text d-none d-md-inline-block">
                            <span>Lumhat </span>
                            <strong class="text-primary">HOME</strong>
                        </div>
                    </a>
                </div>
                <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                    <!-- Log out-->
                    <li class="nav-item">
                        <a th:href="@{/logout}" class="nav-link logout">
                            <span class="d-none d-sm-inline-block">Logout</span>
                            <i class="fa fa-sign-out"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- Main navigation -->

