
.modal-dialog{
    position: relative;
    width: 800px !important;
    display: flex;
    justify-content: center;
}

body{
    font-family: 'Khmer', sans-serif;
}
.modal-content{
    position: relative;
    width: 900px !important;
    padding: 0px !important;
}
.question-by-instruction{
    display: flex;
    flex-wrap: wrap;
}
.btn-modal-container{
    width: 140px;
}
.questions-container{
    width: 800px !important;
    display: flex !important;
    flex-wrap: wrap !important;
}
.question-container{
    width: 646px !important;
}
#question-number{
    display: inline;
}
.instructions{
    font-size: 16px !important;
}
#btn-quiz-container{
    display: flex;
    flex-direction: row-reverse;
}
input[type=checkbox][disabled]{
    background:red;
}
.question-view-container{
    display: flex;
    flex-wrap: wrap;
}
.btn-view{
    width: 130px !important;
}
#btn-quiz-container{
    padding: 0px 10px !important;
}
.answer-view-container{
    display: flex;
    flex-wrap: wrap;

}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #73c386;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
@media screen and (min-width: 576px){
    .modal-dialog {
        max-width: 1000px !important;
        margin: 1.75rem auto;
    }
}

